
body {font-size: 18px;
      font-family: 'Press Start 2P', cursive;
       }

header { background-color: #d5b942;
          padding: 0.2em 1em;
          border-radius: 16px; 
		  text-align: center;
		
		  }

h1 {
	  font-size 1.5rem;
	  margin: 0.1rem;
	  font-family: 'Reenie Beanie', cursive;
      text-align: center; 
      color: black }
	  
h2 {  
	  font-size 1.0rem
	  margin-bottom: 0.rem;
	  font-family: 'Shadows Into Light Two', cursive;
      text-align: center;
      color: black;
      border-bottom: 1px solid rgb(14, 12, 12);
}
  

header img {
      width:200px;
      height:auto;

}

footer{
  background-color: #d5b942;
  color: black;
  text-align: center;


}
 