body { font-size: 20px;
  font-family: Tahoma, Geneva, sans-serif;}

a: hover {
  text-decoration: none;
}
h2 {   text-align: center;

  border-bottom: 1px solid rgb(14, 12, 12);
}

{h1
  background-color: #d5b942;
  text-align: center;
  }
  

header img { float: right;
      width:142px;
      height:144px;

}

footer{
  background=color: #d5b942;
  color: black;
  text-align: center;

}
     #rectangle {
      width: 1200px;
      height: 100px;
      background: ; #d5b942;
    }