body { font-size: 20px;
  font-family: Tahoma, Geneva, sans-serif;}

a: hover {
  text-decoration: none;
}

header { background-color: #d5b942; }

h1 {  text-align: center; }
h2 {  text-align: center;

  border-bottom: 1px solid rgb(14, 12, 12);
}
  

header img {
      float: right;
      width:142px;
      height:144px;

}

footer{
  background-color: #d5b942;
  color: black;
  text-align: center;

}
     #rectangle {
      width: 1200px;
      height: 100px;
      background: ; #d5b942;
    }