body { font-size: 20px;}

a:hover {
  text-decoration: none;
}

{header
  background-color: #d5b942;
  color: black;
  text-align: center;
  border-radius: 16px
}
  
img { float: right;
      right: 66px;
      top: 60px;
      width: 150px;
      max-width: 20%;

}

footer{
  background=color: #d5b942;
  color: black;
  text-align: center;

}
     #rectangle {
      width: 1200px;
      height: 100px;
      background: ; #d5b942;
    }