

      header {
            background-color: whitesmoke;
		text-align: center;
		padding: 2rem 2%;
		font-family: 'Raleway', sans-serif;
      }

      h1, h2, h3, h4, h5, h6 {
		  font-family: 'Raleway', sans-serif;;
	  }
      main {
            display: grid;
            grid-template-columns: 1fr;
            padding: 10px;
                }
section {    border-radius: 15px;
			 margin-top: 20px;
} 

section header {
   background-color: #b0dfe5;
   border-radius: 15px 15px 0px 0px;
}
    
	p {
        font-size: 16px;
        font-family: Raleway, sans-serif;
        line-height: 1.5;
        padding: 10px;
}

      
	  img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    
}
      footer {
                  background-color: #87ceeb ;
                  color: black;
                  padding: 7px;
                  font-size: smaller;
                  grid-area: footer;
                  text-align:center;
            }

      