body { font-size: 20px;
      font-family: Tahoma, Geneva, sans-serif;
       background-color: azure; }

header { background-color: #d5b942;
          padding: 0.2em 1em;
          border-radius: 16px; }

h1 {  text-align: center; 
      color: black }
h2 {  text-align: center;
      color: black;
      border-bottom: 1px solid rgb(14, 12, 12);
}
  

header img {
      float: right;
      width:142px;
      height:144px;

}

footer{
  background-color: #d5b942;
  color: black;
  text-align: center;

}
 