
body {font-size: 18px;
      font-family: 'Press Start 2P', cursive;
       }

header { background-color: #d5b942;
          padding: 0.2em 1em;
          border-radius: 16px; }

h1 {  font-family: 'Reenie Beanie', cursive;
      text-align: center; 
      color: black }
h2 {  font-family: 'Shadows Into Light Two', cursive;
      text-align: center;
      color: black;
      border-bottom: 1px solid rgb(14, 12, 12);
}
  

header img {
      float: right;
      width:152px;
      height:164px;

}

footer{
  background-color: #d5b942;
  color: black;
  text-align: center;

}
 