body { font-size: 20px;
  font-family: Tahoma, Geneva, sans-serif;}

a:hover {
  text-decoration: none;
}
h2 {   text-align: center;

  border-bottom: 1px solid rgb(14, 12, 12);
}

{header
  background-color: #d5b942;
  color: black;
  text-align: center;
  border-radius: 16px
}
  
header img { float: right;
      width:140px;
      height:142px;

}

footer{
  background=color: #d5b942;
  color: black;
  text-align: center;

}
     #rectangle {
      width: 1200px;
      height: 100px;
      background: ; #d5b942;
    }