header-img {
	width:100px;
	height:auto;
	float: left;
	padding: 2px;
	}
	body {
		position: relative;
		padding-bottom: 50px;
	}

	.mwi {
		margin:10px;
	}
	#hero {
		max-width: 300px;
		position: relative;
		height: auto;
		padding-top: 60px;
	}
	#overlay {
		position: absolute;
		top: 120px;
		left: 16px;
		background-color: skyblue;
		opacity: .8;
	}
	.flex {
		display: flex;
		flex-direction: row;
	}
	
	.col {
		flex: 1 1 100%;
		border-top: 1px solid #333;
		border-bottom: 1px solid #333;
		border-left: 1px solid #333;
		background-color: #bed;
		font-size: 13px;
		text-align: center;
	}
	
	.flex div:last-child {
		border-right: 1px solid #333;
	}
	
	.label {
		display: block;
		padding: 5px;
		font-weight: 700;
		font-size: 15px;
		border-bottom: 1px solid #333;
		background-color: #eee;
	}
	
	.flex div img, table img {
		border-radius: 100px;
		padding: 5px;
	}

#gun {
	max-width: 480px;
	height: auto;
	}

h1, h2, h3, h4 {
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

body {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
}
.contact {
	margin: 2px;
}
#address {
	height: auto;
	display: block;
}
header {
	background-color: #e6e600;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 18px;
	height: 160px;
	position: relative;
	top:0px;
	left:0px;
	width: 100%;
}

.contact {
	padding-top:16px;
}

footer {
	background-color: #e6e600;
	width: 100%;
	border-top: 1px black solid;
	margin-top: 4px;
	height: auto;
	position: fixed;
	left: 0px;
	bottom:0px;
}

nav {
	margin: 0 auto;
	max-width: 100%;
	background-color: #000;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: gold;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
}
.navigation a:hover {
	color: #000;
	background-color: gold;
	font-weight: 700;
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
	display: block;
}


caption {
    font-family: 'Roboto', sans-serif;
}

.section--1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px
}

.section--2 { 
    font-size: 20px;
    font-family: "Raleway", sans-serif;
}

.navigation {
	list-style: none;
	padding: 0;
	color: white;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: white;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
}
.navigation a:hover {
	color: #000;
	background-color: grey;
	font-weight: 700;
}
nav ul li.active a {
	background-color: rgba(58,172,198,1); 
	color: #000;
	}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
	display: block;
}
.contact {
	max-height: 400px;
}

#social li {
	display: inline;
}

#social {
	display: inline;
}
.contact {
	height: auto;
}
#map {
	display:none;
}

.fa {
	padding: 10px;
	font-size: 15px;
	width: 20px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
  }
 
	  .fa:hover {
		  opacity: 0.7;
	  }
	  
	  .fa-facebook {
		background: #3B5998;
		color: white;
	  }
	  
	  .fa-twitter {
		background: #55ACEE;
		color: white;
	  }
	  
	  .fa-google {
		background: #dd4b39;
		color: white;
	  }
	  
	  .fa-linkedin {
		background: #007bb5;
		color: white;
	  }
	  
	  .fa-youtube {
		background: #bb0000;
		color: white;
	  }
	  
	  .fa-instagram {
		background: #125688;
		color: white;
	  }
	  
	  .fa-pinterest {
		background: #cb2027;
		color: white;
	  }
	  
	  .fa-snapchat-ghost {
		background: #fffc00;
		color: white;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	  }
	  
	  .fa-skype {
		background: #00aff0;
		color: white;
	  }

	  .place-holder-content {

		border: 2px black dashed;
		
	  }

	  /*gallery page css*/

div.gallerygrid {
	display: grid;
	grid-template-columns: 1fr;
	padding: 10px;
}

.gallerygrid img {
	width: 100%;
	padding: 0;
	margin: 0;
	box-shadow: 0px 0px 10px 0px #ab141a;
}

.gallery {
	padding: 10px;
	margin: 10px 0;
	background-color: ivory;
}

.desc {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 10px 10px;
	border: none;
	text-align: center;
	background-color: ivory;
	
}



picture img[data-src] {
	filter: blur(0.2em);
}

picture img {
	filter: blur(0em);
	transition: filter 0.5s;
	margin: 5px;
	
}





/*end of gallery css*/