html {
    font-family: Ubuntu, sans-serif;
  }
  
 td, th {
    border: 1px solid gray;
    font-family: Ubuntu, sans-serif;
  }
  
  th {
    background-color: #7fb9c2;
    color: black;
    font-size: 2rem;
  }
  
  td {
    text-align: center;
    color: black;
  }
  
  tr:nth-child(even) td {
    background-color: e7ffed;
  }
  
  tr:nth-child(odd) td {
    background-color: #e7f0ed;
  }
  
  tfoot {
      background-color: #628ca6;
      color: black;
      text-align: center;

  }

  .odd {
    background-color: #628ca6;  
    color: white;
      
  }