html, td, th {
    font-family: Ubuntu, sans-serif;
  }
  
  th {
    background-color: #7fb9c2;
    color: black;
    font-size: 3rem;
  }
  
  td {
    border-collapse: collapse;
    border: 0.1px solid black;
    text-align: center;
    color: black;
    font-size: 2rem;
  }
  
  tr:nth-child(even) td {
    background-color: #e7ffed;
  }
  
  tr:nth-child(odd) td {
    background-color: #e7f0ed;
  }
  
  tfoot {
      background-color: #628ca6;
      color: goldenrod;
      text-align: center;

  }

  .odd {
    background-color: #628ca6;  
    color: white;
      
  }