@media only screen and (min-width: 60em) {
	nav a {
		font-size: 1.1rem;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	article:nth-child(3) {
		grid-column: span 1;
	}
}



#gun {
    max-width: 100%;
    float: right;
    padding: 2px;
    justify-items: center;

}

#gun {
    padding-bottom: 250px;
}
.contact {
    padding-top:400px;
    width: 100%;
}

.hero {
    width:60em;
}
