@media only screen and (min-width: 902px;) {
	nav a {
		font-size: 1.1rem;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	article:nth-child(3) {
		grid-column: span 1;
	}
}
header,
nav,
main,
footer {
	max-width: 2067px;
	margin: 0 auto;
}

#gun {
	height: auto;
	max-width: 100%;
	float: right;
	margin: 2px;
	padding: 1px;
}
#hero {
	max-width: 100%
		
}
