@media only screen and (min-width: 37.5em) {

    nav ul { display: flex; }
    .navigation {
      display: flex;
    }
    .navigation li {
      display: block; /* needed because of state in small view */
      flex: 1 1 100%;
    }
    .navigation li a {
      color: yellowgreen;
      text-align: center;
    }
    
    .navigation li:first-child {
      display: none;
    }
  }
        nav ul li { flex: 1 1 100%; }


nav a {
    font-size: 1rem;
}
main {
    grid-template-columns: 1fr 1fr;
}
article:nth-child(3) {
    grid-column: span 2;
}
main picture {
    display: block;
}
main picture img {
    width: 100%;
    height: auto;
    border: 1px solid #bbb;
}

header,
nav,
main,
footer {
	max-width: 1767px;
	margin: 0 auto;
}

.fa {
  padding: 20px;
  font-size:30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 6px 2px;
}


)
/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* needed because of state in small view */
		flex: 1 1 100%;
	}
	.navigation li a {
		color: yellowgreen;
		text-align: center;
	}
	
	.navigation li:first-child {
		display: none;
	}
}