@media only screen and (min-width: 38em) {

#hero {
  max-width: 34em;
}
nav a {
    font-size: 1rem;
}
main {
    grid-template-columns: 1fr 1fr;
}
article:nth-child(3) {
    grid-column: span 2;
}


#map {
  display: block;
  position: relative;
  bottom: 10px;
  right: 4px;
  float: right;
  padding-bottom: 80px;
  padding-top: 26px;
}

.contact {
	padding-top:86px;
}
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* needed because of state in small view */
		flex: 1 1 100%;
	}
	.navigation li a {
		color: yellowgreen;
		text-align: center;
	}
	
	.navigation li:first-child {
		display: none;
	}
}

article img { 
  box-shadow:  0 0 30px #444;
  float: right;
  border-radius: 0 10px 0 0;
}
#gun {
  max-width: 30em;
  padding-bottom: 40px;
}