@media only screen and (min-width: 700px) {

    nav ul { display: flex; }
    .navigation {
      display: flex;
    }
    .navigation li {
      display: block; /* needed because of state in small view */
      flex: 1 1 100%;
    }
    .navigation li a {
      color: yellowgreen;
      text-align: center;
    }
    
    .navigation li:first-child {
      display: none;
    }
  }
        nav ul li { flex: 1 1 100%; }
        #gun {
          height: auto;
          max-width: 600px;
          float: right;
          margin: 2px;
          padding: 1px;
        }
#hero {
  max-width: 690px;
}
nav a {
    font-size: 1rem;
}
main {
    grid-template-columns: 1fr 1fr;
}
article:nth-child(3) {
    grid-column: span 2;
}

header,
nav,
main,
footer {
	max-width: 1767px;
	margin: 0 auto;
}


	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* needed because of state in small view */
		flex: 1 1 100%;
	}
	.navigation li a {
		color: yellowgreen;
		text-align: center;
	}
	
	.navigation li:first-child {
		display: none;
	}
}

article img { 
  box-shadow:  0 0 30px #444;
  float: right;
  border-radius: 0 10px 0 0;
}