@media only screen and (min-width: 38em) {

#hero {
  max-width: 34em;
}
nav a {
    font-size: 1rem;
}
main {
    grid-template-columns: 1fr 1fr;
}
article:nth-child(3) {
    grid-column: span 2;
}

header,
nav,
main,
footer {
	max-width: 1767px;
	margin: 0 auto;
}

#map {
  display: block;
  float: left;
  height: auto;
}

	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* needed because of state in small view */
		flex: 1 1 100%;
	}
	.navigation li a {
		color: yellowgreen;
		text-align: center;
	}
	
	.navigation li:first-child {
		display: none;
	}
}

article img { 
  box-shadow:  0 0 30px #444;
  float: right;
  border-radius: 0 10px 0 0;
}
#gun {
  max-width: 30em;
}