header-img {
	width:100px;
	height:auto;
	float: left;
	padding: 2px;
	}

main {
	text-align:center;
	}
	.place-holder-content{ 
		border: 2px dashed; 
		margin: 14px;
		padding: 4px;
	}


h1, h2, h3, h4 {
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

body {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
}

header {
	background-color: #e6e600;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

header,
nav,
main,
footer {
    font-family: 'Roboto', sans-serif;
	max-width: 767px;
	margin: 0 auto;
	max-width: 780px;
}
h1 {
	font-size: 2rem;
}

nav {
	background-color: black;
	text-align: center;
	box-shadow: 0 2px 15px gray;
	margin: 0 auto;
	
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.76rem;
	text-decoration: none;
	font-size: 0.96rem;
}
nav a:hover {
	background-color: gray;
	color: blue;
}

caption {
    font-family: 'Source Code Pro', monospace;
}

footer {
	flex: 0 1 100%;
	height: 4rem;
}
.section--1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px
}

.section--2 { 
    font-size: 20px;
    font-family: "Raleway", sans-serif;
}

.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: grey;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
}
.navigation a:hover {
	color: #000;
	background-color: grey;
	font-weight: 700;
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
	display: block;
}

/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* needed because of state in small view */
		flex: 1 1 100%;
	}
	.navigation li a {
		color: yellowgreen;
		text-align: center;
	}
	
	.navigation li:first-child {
		display: none;
	}
}

#social li{
	display: inline;
}

.footer {
	text-align: center;
    background-color:#e6e600;
    border-top: 1px solid black;
    height: 200px;  /* footer height */
    padding-top: 20px;
    display: block;
    margin-top: 20px; /* space between content and footer */
    box-sizing: border-box;
    position: relative;
    width: 100%;
}