header-img {
	width:100%;
	height:auto;
	padding: 2px;
	}

.hero {
	width: 20px;
	height: auto;
}
.overlay {
	background-color: cornflowerblue;
	height: 400px;
	width: 100px;
	position: fixed;
	top: 120px;
	left: 20px;
	margin: 4px;
}
main {
	text-align:center;
	}
	.place-holder-content{ 
		border: 2px dashed; 
		margin: 14px;
		padding: 4px;
	}


h1, h2, h3, h4 {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 2px;
}

body {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
}

header,
footer {
	background-color: #e6e600;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 2rem;
}

nav {
	background-color: black;
	text-align: center;
	box-shadow: 0 2px 15px gray;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.76rem;
	text-decoration: none;
	font-size: 0.96rem;
}
nav a:hover {
	background-color: gray;
	color: blue;
}

.section--1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px
}

.section--2 { 
    font-size: 20px;
    font-family: "Raleway", sans-serif;
}

.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: grey;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
}
.navigation a:hover {
	color: #000;
	background-color: grey;
	font-weight: 700;
}

.responsive li {
	display: block;
}


