h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
}

header,
footer {
	background-color: #e6e600;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

header,
nav,
main,
footer {
    font-family: 'Roboto', sans-serif;
	max-width: 767px;
	margin: 0 auto;
}
h1 {
	font-size: 2rem;
}

nav {
	background-color: black;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.76rem;
	text-decoration: none;
	font-size: 0.96rem;
}
nav a:hover {
	background-color: gray;
	color: blue;
}

caption {
    font-family: 'Source Code Pro', monospace;
}

footer {
	flex: 0 1 100%;
	height: 4rem;
}
f1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px
}

f2 { 
    font-size: 20px;
    font-family: "Raleway", sans-serif;
}

